html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Wrapper for all the content except footer */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Main content will take the remainig space after header and footer */
.main-content {
  flex: 1;
}

/* Footer stays at the bottom */
footer {
  background-color: black;
  color: whiter;
  padding: 10px 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.main-content {
  padding-top: 150px;
}

h1 {
    font-size: 30px;
    color: forestgreen;
    font-family: 'Calistoga', serif;
}

h2 {
  color: forestgreen;
  font-family: 'Calistoga', serif;
}

.typewriter title {
  font-family: 'Calistoga', serif;
  font-size: 30px;
  color: forestgreen;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid forestgreen;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: forestgreen; }
}

.image {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
  display: block;
  width: 25%;

}

.image-2 {
  width: 150px;
}

.logo {
  width: 25px;
  height: auto;
  align-items: right;
}

div {
  display: grid;
}

p {
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
    margin-top: 0;
    margin-bottom: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
nav a:hover {
  color: forestgreen;
}

.nav-color {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-link:hover {
  color: forestgreen;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: forestgreen;
}

.button:hover {background-color: forestgreen}

.button:active {
  transform: translateY(4px);
}

header, nav, main, section {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.corner-links {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0px 20px;
  position: absolute;
  max-width: 90vw;
  margin: 0 auto;
  top: 0;
  z-index: 1000;
}

.social-links, .main-nav {
    display: flex;
    align-items: right;
    padding: 0 10px;
}

.social-links a, .main-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navigation-links {
  display: flex;
  align-items: left;
}

.social-links a, .navigation-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.social-links a:hover, .navigation-links a:hover {
    color: forestgreen;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

section {
  padding: 150px 0;
  border: none;
}

.comfortaa-regular{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 700;
  font-style: normal;
}

.banner {
    position: fixed;
    top: 0;
    z-index: 1000;
    color: black;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}