body {
    background-color: black;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
}

h1 {
    font-size: 30px;
    color: forestgreen;
    font-family: 'Calistoga', serif;
}

h2 {
  color: forestgreen;
  font-family: 'Calistoga', serif;
}

.typewriter title {
  font-family: monospace;
  font-size: 30px;
  color: forestgreen;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid forestgreen;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: forestgreen; }
}

.image {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
  display: block;
  width: 25%;

}

.logo {
  width: 25px;
  height: auto;
  align-items: right;
}

div {
  display: grid;
  place-items: center;
}

p {
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
nav a:hover {
  color: forestgreen;
}

.nav-color {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-link:hover {
  color: forestgreen;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: forestgreen;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: forestgreen}

.button:active {
  background-color: #ddd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

header, nav, main, section {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.corner-links {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.social-links, .main-nav {
    display: flex;
    align-items: left;
}

.social-links a, .main-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navigation-links {
  display: flex;
  align-items: right;
}

.social-links a, .navigation-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.social-links a:hover, .navigation-links a:hover {
    color: gray;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}
